import java.util.Scanner;
public class errors
{
    /*
    remind class:

    void returns nothing
    Syntax
    Compiler
    Run-time
    Logic
     */
    public static void main(String[] arg)
    {
        /*
        Syntax errors = format/grammatical error -> crash

        System.out.printn("hello");
        System.out.println("hello");

        Compiler error = wrong variabal useage

        int x = "pie";
        String y = "apple";
        
        System.out.println(x+y);
        System.out.println(y);
         */

        //Run-time Errors = user does sothing unexpected

        Scanner input = new Scanner(System.in);

        System.out.println("Enter your age");
        //user could enter a string
        int age = input.nextInt();

        System.out.println(age/2);
        //what if user enters zero


    }
}
